body::before{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url(./assets/background.jpeg);
    background-size: cover;
    background-position: top center;
    opacity: 0.5;
    z-index: -1;
}

a.dropdown-item{
    margin-right: 4em;
}

.fa-book-reader{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-top: -1em;
    margin-right: auto;
    color: darkgrey;
}

.ms-auto{
    margin-right: 7%;
}