.fa-book-reader{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-top: -1em;
    margin-right: 1em;
    color: darkblue;
}

.fa-youtube{
    color: darkred;
}

.fa-facebook-square{
    color: lightseagreen;
}

.fa-instagram-square{
    color: darkmagenta;
}

.ms-auto{
    margin-right: 4%;
}